@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");


@font-face {
  font-family: Lexend;
  src: url(Fonts/Lexend.ttf);
}
@font-face {
  font-family: Pacifico-Regular;
  src: url(Fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: Courgette-Regular;
  src: url(Fonts/Courgette-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

.shadow:hover{
  color: white;
  text-shadow: 2px 2px 4px #000000;
  transition: text-shadow 0.3s ease-in-out;
}
.boxshadow{
  box-shadow: 2px 2px 4px #000000;
  transition: box-shadow 0.3s ease-in-out;
}



html{
 
  background-color: #007d98;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  font-family: Pacifico-Regular;
  font-size: 1.5em;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #80cfd5;
}

.links {
  margin: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0 10px;
  color: white;
}

.name {
  width: 500px;
  margin: 30px;
  margin-left: 40px;
  font-family: Pacifico-Regular;
  font-size: 3em;
  color: white;
}

.scrolltopbtn{
  position: fixed;
  bottom: 800px;
  right: 40px;
  width:60px;
  height:60px;
  object-fit: contain;
  background:#fff url(icons/button-up-png.png);
  border-radius: 50%;
  border:solid 2px white;
  background-size: 60px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 7;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.scrolltopbtn.active{
  bottom:40px;
  visibility: visible;
  opacity: 1;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6dc3cc;
  font-family: Lexend;
  font-weight: 300;
  font-size: 3em;
  background-color: white;
  width: 100%;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#main-page-content {
  padding-bottom: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lexend;
  text-align: center;
}

.image-title{
  text-align: center;
}


/*Media Queries*/
@media (max-width: 700px) {
  nav {
    font-size: 0.7em;
    width: 80%;
  }

  .links {
    margin: 5px;
  }

  .name {
    font-size: 1em;
  }
  
}
